<template>
  <div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!--                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">

            <video autoplay />
            <br>
            <button @click="startRecord" v-if="stopped" class="btn btn-primary"><i class="fas fa-video" /></button>
            <button @click="stopRecord" v-if="!stopped" class="btn btn-primary"><i class="fas fa-stop" /></button>
            <button @click="sendVideo" class="btn btn-primary">Envoyer</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PostVideo',

  data () {
    return {
      stream: null,
      mediaRecorder: null,
      record: false,
      videoElement: null,
      shouldStop: false,
      stopped: true,
      video: null
    }
  },
  mounted () {
    if (!this.isCompatible()) {
      alert('not supported')
      return
    }

    this.videoElement = document.querySelector('video')
  },
  methods: {
    isCompatible () {
      return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia())
    },

    startRecord () {
      const constraints = {
        video: true,
        audio: true
      }

      this.stopped = false
      navigator.mediaDevices.getUserMedia(constraints)
        .then(this.handlerSuccess)
        .catch(this.handlerError)
    },

    stopRecord () {
      this.shouldStop = true
      this.stopped = true
      this.mediaRecorder.stop()
    },

    handlerSuccess (stream) {
      this.stream = stream
      window.stream = stream
      this.videoElement.srcObject = stream

      const options = {
        mimeType: 'audio/webm'
      }
      const recordedChunks = []
      this.mediaRecorder = new MediaRecorder(stream, options)

      this.mediaRecorder.ondataavailable = function (e) {
        if (e.data.size > 0) {
          recordedChunks.push(e.data)
        }

        if (this.shouldStop === true && this.stopped === false) {
          this.mediaRecorder.stop()
          this.stopped = true
        }
      }

      this.mediaRecorder.onstart = function () {

      }

      this.mediaRecorder.onstop = function () {
        window.video = new Blob(recordedChunks, {
          type: 'video/webm'
        })
      }

      this.mediaRecorder.start()
    },

    handlerError (error) {
      console.error('Error:', error)
    },

    sendVideo () {
      const data = new FormData()
      data.append('file', window.video)
      axios.post('http://localhost:8090/', data).then(resp => {
        console.log(resp)
        // eslint-disable-next-line
        $('#exampleModal').modal('hide')
      }).catch(err => console.error(err))
    }
  }
}
</script>

<style scoped>

</style>
