<template>
  <div class="col-lg-4 my-1 px-1 text-center">
    <img :src="url" alt="Thumbnail" class="img-fluid">
    <router-link :to="'/video/' + videoId" class="thumbnail">
      <i class="fas fa-play" />
    </router-link>
  </div>
</template>


<script>
export default {
  name: 'Thumbnail',
  props: {
    url: {
      type: String
    },
    videoId: {
      type: String
    }
  }
}
</script>

<style>
  .button-play {
    position: absolute;
    height: auto !important;
    width: auto !important;
    left: 0;
    right: 0;
    top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

  }

  .thumbnail {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 8rem;
    bottom: 0;
    height: 2rem;
    width: 3rem;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
  }

  .thumbnail:hover {
    color: grey;
  }
</style>
