<template>
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <h1 class="title">Selfies</h1>
        <PostVideo />
        <div class="container">
          <div class="row text-center mb-4">
            <div class="col-12">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
                Capturer un selfie
              </button>
            </div>

          </div>
          <div class="row">
            <Thumbnail v-for="thumbnail in this.videos" :key="thumbnail" :url="thumbnail.urlThumbnail"
                       :video-id="thumbnail.id" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Thumbnail from './Thumbnail'
import PostVideo from './PostVideo'

export default {
  name: "Thumbnails",
  components: { PostVideo, Thumbnail },
  data () {
    return {
      videos: []
    }
  },

  async mounted () {
    this.loadVideos()
  },

  methods: {
    async loadVideos () {
      const resp = await axios.get('http://localhost:8090/')
      this.videos = resp.data
    }
  }
}

</script>

<style scoped>

  .title {
    text-align: center;
    font-size: 5rem;
  }

</style>
