<template>
  <div class="container">
    <div class="row text-center">
      <div class="col-12 h10 align-items-center">
        <router-link :to="'/'" tag="button" class="btn btn-primary">Retour</router-link>
      </div>
      <div class="col-12 h90">
        <video autoplay controls :src="video.url" height="100% " />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'VideoViewer',
  data () {
    return {
      videoId: null,
      video: {}
    }
  },
  async mounted () {
    this.videoId = this.$route.params.videoId
    const response = await axios.get('http://localhost:8090/' + this.videoId)
    this.video = response.data
  }
}
</script>

<style scoped>
  .h10 {
    height: 10vh;
  }

  .h90 {
    height: 90vh;
  }
</style>
